doctype 5
html
  head
    != css('main')
    != css('highlight-github')
    != js('zepto')
    != js('highlight')
    != js('main')
    title OAuth2 Demo
  body
    h1 Démonstration OAuth
    if me
      img(src="#{me}")
    else
      a(href="/auth/ares") sign in with ares
